body {
    margin: 0;
    font-family: "Roboto", sans-serif; 
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.container {
    width: 1200px;
}

.header-container {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-nav {
    font-weight: bold;
}

.header-nav__list {
    padding: 0;
    display: flex;
    gap: 17px;
    list-style: none;
}

.header-link {
    transition: 0.3s ease;
    text-decoration: none;
}

.header-link:hover {
    cursor: pointer;
    font-size: 17px;
}

@media (max-width: 1024px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 728px;
    }

    .project-card {
        flex-direction: column;
    }
}

main {
    display: flex;
    justify-content: center;
}

.hero {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-info__title {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
}

.bage {
    transition: 0.3s ease;
    width: 40px;
    height: 40px;
}

.bage:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bage-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-title {
    font-weight: bold;
}

.about-img {
    margin: 15px;
    width: 450px;
    height: 250px;
}

.about-list {
    padding-left: 20px;
}

.about-list__item {
    padding: 5px;
}

.contacts-container {
    margin-top: 300px;
    margin-bottom: 300px;
}

.project-card {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.project-internet__link {
    text-decoration: none;
}

.burger-menu {
    transition: 0.3s ease;
    display: none;
    width: 40px;
    height: 40px;
}

.burger-menu:hover {
    transform: scale(1.1);
}

.header-nav.visible {
    display: block;
}

.about-info-container__item {
    display: flex;
    flex-direction: column;
}

@media (max-width: 426px) {
    .container {
        width: 400px;
    }

    header {
        position: relative;
    }

    .header-nav {
        display: none;
    }

    .header-nav__list {
        background-color: white;
        border-radius: 2px;
        z-index: 1;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 71px;
    }

    .burger-menu {
        display: block;
    }

    .hero {
        margin-top: 100px;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .hero-info {
        align-items: center;
    }

    .hero-info__subtitle {
        width: 350px;
    }

    .footer-container {
        flex-direction: column;
    }

    .bage-container {
        flex-wrap: wrap;
    }

    .about-img {
        width: 400px;
        height: 200px;
        margin: 0;
    }
}

@media (max-width: 376px) {
    .container {
        width: 350px;
    }

    .about-img {
        width: 350px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 300px;
    }

    .hero-info__title {
        width: 300px;
    }

    .hero-info__subtitle {
        width: 300px;
    }

    .bage-container {
        flex-wrap: wrap;
    }

    .about-img {
        width: 300px;
    }
}